@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/responsive.less";
@import "../branding/css/base.less";
body {
  padding-top: 10px;
}
h1 {
  font-weight: normal;
}
.kujua {
  color: #000;
}
.footer {
  margin: 40px auto 10px auto;
  width: 150px;
  color: @grayLight;
}
.footer-logo {
  margin: 0 auto 20px auto;
  width: 50px;
}
